
<body>
    
    <div class="head">
        <nav>
            <div class="logo">Akarshit Gupta</div>
            <div class="links">
                <a href="/" class="a-nav">Home</a>
                <a href="/about" class="a-nav">About</a>
                <a href="/projects" class="a-nav">Projects</a>
                <a href="/skills" class="a-nav">Skills</a>
                <a href="/contact" class="a-nav">Contact</a>
            </div>
            <div class="socials">
                <a href="https://www.linkedin.com/in/aakarshitgupta/" target="_blank" class="visited"><i class="fa-brands fa-linkedin social"></i></a>
                <a href="https://github.com/aakarshitgupta" target="_blank" class="visited"><i class="fa-brands fa-github social"></i></a>
                <a href="https://www.instagram.com/_akarshitgupta/" target="_blank" class="visited"><i class="fa-brands fa-instagram social"></i></a>
            </div>
        </nav>
    </div>    
</body>