<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    
</head>
<body>
    <%- include("../includes/nav.ejs") %>
    <div class="main">
        <div class="lt">
        <div class="img">
        </div>
    </div>
        <div class="rt">
            <div class="me"><i class="fa-solid fa-bolt bolt"></i>ABOUT ME</div>
            <div class="about-text">
                <h3 class="h3">I'm <span class="green">Akarshit Gupta, Full stack developer </span></h3>
                <p class="about-para">I’m a passionate full-stack web developer and final-year Computer Science student, skilled in the MERN stack, data structures, and algorithms. I love transforming complex challenges into seamless user experiences and continuously strive to expand my expertise. A collaborative team player, I’m excited to bring my problem-solving skills and fresh perspective to create impactful projects together.</p>
            </div>
            <div class="mail-box">
                <div class="box">
                    <div class="icon"><i class="fa-regular fa-envelope"></i></div>
                    <div class="details">
                        <p>Email</p>
                        <p>aakarshitgupta307@gmail.com</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa-solid fa-phone"></i></div>
                    <div class="details">
                        <p>Call at</p>
                        <p>7392903262</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>