<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>

<body class="body">
    
    <div class="content">
        <%- include("../includes/nav.ejs") %> <!-- Navigation -->
      </div>

        <div class="main">
            <div class="briefcase"><i class="fa-solid fa-briefcase icon"></i> MY PROJECTS</div>
            <div class="container">
                <div class="box box1">
                    <div class="portfolio"></div>
                    <p class="name">Portfolio</p>
                    <div class="langs">
                        <div class="lang">NODE.JS</div>
                        <div class="lang">EXPRESS.JS</div>
                        <div class="lang">EJS</div>
                        <div class="lang">HTML</div>
                        <div class="lang">CSS</div>
                        <div class="lang">JS</div>
                        <div class="lang">API</div>
                    </div>
                </div>
                <div class="box ">
                    <div class="spotify"></div>
                    <p class="name">Spotify clone</p>
                    <div class="langs">
                        <div class="lang">HTML</div>
                        <div class="lang">CSS</div>
                    </div>
                </div>
                <div class="box ">
                    <div class="game"></div>
                    <p class="name">Tic-Tac-Toe</p>
                    <div class="langs">
                        <div class="lang">HTML</div>
                        <div class="lang">CSS</div>
                        <div class="lang">JS</div>
                    </div>
                </div>
                <div class="box box1">
                    <div class="shopping"></div>
                    <p class="name">E-Commerce</p>
                    <div class="langs">
                        <div class="lang">HTML</div>
                        <div class="lang">CSS</div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/projects.js"></script>
</body>

</html>