<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <link rel="stylesheet" href="/css/skills.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>

<body>
    <%- include("../includes/nav.ejs") %>
        <div class="main">
            <div class="container">
                <p class="icon"><i class="fa-solid fa-dumbbell dumbell"></i>My skills</p>
                <div class="languages skill ">
                    <div class="box">
                        <div class="boxes">
                            <div class="img ">
                                <img src="/assets/js.png" class="js">

                            </div>
                            <p class="p">Javascript</p>
                            <div class="percent">75%</div>
                        </div>
                        <div class="boxes">
                            <div class="img ">
                                <img src="/assets/node.png" class="node">

                            </div>
                            <p class="p">Node.js</p>
                            <div class="percent">80%</div>
                        </div>
                        <div class="boxes">
                            <div class="img ">
                                <img src="/assets/mongo.png" class="js">

                            </div>
                            <p class="p">Mongo DB</p>
                            <div class="percent">70%</div>
                        </div>
                        <div class="boxes">
                            <div class="img ">
                                <img src="/assets/react-native.png" class="js">

                            </div>
                            <p class="p">React JS</p>
                            <div class="percent">70%</div>
                        </div>
                        <div class="boxes">
                            <div class="img ">
                                <img src="/assets/java.png" class="js">

                            </div>
                            <p class="p">Java</p>
                            <div class="percent">75%</div>
                        </div>
                        <div class="boxes">
                            <div class="img ">
                                <img src="/assets/express.png" class="js">

                            </div>
                            <p class="p">Express.js</p>
                            <div class="percent">73%</div>
                        </div>
                        <div class="boxes">
                            <div class="img ">
                                <img src="/assets/css.png" class="js css">

                            </div>
                            <p class="p">CSS</p>
                            <div class="percent">70%</div>
                        </div>
                        <div class="boxes">
                            <div class="img ">
                                <img src="/assets/html.png" class="js css">

                            </div>
                            <p class="p">Html</p>
                            <div class="percent">80%</div>
                        </div>
                        <div class="boxes">
                            <div class="img ">
                                <img src="/assets/figma.png" class="js">

                            </div>
                            <p class="p">Figma</p>
                            <div class="percent">65%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>